.post-page .image{
    display: flex;
    max-height: 300px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    /* background: linear-gradient(110deg, rgb(244, 244, 244), rgb(233, 232, 232)); */
}

.post-page .image img{
    margin: 0 auto;
    border-radius: 5px;
    object-fit: cover;
    object-position: center center;
}

.post-page a{
    color: #333;
    text-decoration: underline;
}

.post-page h1{
    text-align: center;
    margin: 10px 0 5px;
}

.post-page time{
    text-align: center;
    display: block;
    font-size: 0.8rem;
    color: #aaa;
}

.post-page .author{
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.8rem;
    font-weight: bold;
}

.post-page .content{
    line-height: 1.6rem;
}

.post-page .edit-row{
    text-align: center;
}

.post-page .edit-btn{
    border-radius: 5px;
    margin-bottom: 9px;
    background-color: #333;
    display: inline-flex;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    gap: 5px;
}   

.post-page .edit-btn .edit-icon{
}