<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        main{
            max-width: 500px;
            padding: 10px;
            margin: 0 auto;
        }

        header {
            display: flex;
            justify-content: space-between;
        }

        .auth-links {
            display: flex;
            gap: 20px; /* Adjust spacing between Login and Register */
        }
    </style>
</head>
<body>
    <main>
        <header className='jsb'>
            <a href="" classname="logo">My Blog</a>
            <nav className='auth-links'>
                <a href="">Login</a>
                <a href="">Register</a>
            </nav>
        </header>
    </main>
</body>
</html>