.post{
    padding: 0 2.0rem;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: 0.9fr 1.1fr; */
    gap: 18px;
    align-items: center;
    margin-bottom: 10px;
}

@media screen and (min-width: 800px){
    .post{
        grid-template-columns: .9fr 1.1fr;
    }
}

.post .texts h2{
    margin: 0;
    font-size: 1.6rem;
}

.post .info{
    margin: 0.77rem 0;
    color: #979797;
    font-size: 0.8rem;
    font-weight: bold;
    gap: 10px;
}
.post .image{
    width: 100%;
    align-items: center;
}



.post .image .texts{
}

.post .image img{
    border-radius: 8px;
}

.post .info .author{
    font-weight: 2500;
    margin-right: 5px;
    color: #574040;
}

.post .info time{
    font-weight: 500;
    margin-right: 5px;
}

.post .summary{
    margin: 10px 0;
    line-height: 1.4rem;
}