.post{
    padding: 0 2.0rem;
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    gap: 20px;
    align-items: center;
}

.post .texts h2{
    margin: 0;
    font-size: 1.6rem;
}

.post .info{
    margin: 0.77rem 0;
    color: #979797;
    font-size: 0.8rem;
    font-weight: bold;
    gap: 10px;
}
.post .image{
    width: 100%;
    align-items: center;
}

.post .info .author{
    font-weight: 2500;
    margin-right: 5px;
    color: #574040;
}

.post .info time{
    font-weight: 500;
    margin-right: 5px;
}

.post .summary{
    margin: 10px 0;
    line-height: 1.4rem;
}